<li class="p-2">
    {{name}}
    {{#if devoured}}
    <button
        class="devoured-button btn btn-outline-secondary "
        data-id={{id}}
        data-newburger={{devoured}}
    >
        DEVOURING
    </button>
    {{/if}}

</li>