<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link
        rel="stylesheet"
        href="/assets/css/style.css"
        type="text/css"
    />
    <title>MVC With Cats!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/cats.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger</title>
    <link
        rel="stylesheet"
        href="/public/assets/css/style.css"
        type="text/css"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    >
    <script
        src="https://kit.fontawesome.com/d063cf83ee.js"
        crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script
        src="/public/assets/js/burger.js""></script>
</head>

<body class="
        container"
    >
    {{{ body }}}
</body>

</html>